.form {
  background-color: #f8f8f8;
  padding: 30px;
  font-size: 18px;
  font-family: 'Helvetica Neue', sans-serif;
  width: 100%;

  label {
    display: block;
    font-weight: bold;
    color: teal;
    margin-bottom: 10px;
  }

  input {
    display: block;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f0f0f0;

    &:hover,
    &:focus {
      border-color: teal;
      outline: none;
    }
  }

  button {
    margin-top: 30px;
    padding: 12px 24px;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;

    &:hover,
    &:focus {
      background-color: #007299;
      outline: none;
    }
  }

  img {
    display: block;
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    
  }

  .stars {
    display: flex;
    align-items: flex-;


    .star {
      font-size: 60px;
      color: #ccc;
      cursor: pointer;
      transition: color 0.3s ease-in-out;

      &:hover,
      &:focus {
        color: yellow;
        outline: yellow;
      }
    }

    .active {
      color: yellow;
    }
  }
}
