.navbar {
  background-color: #1e212d;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  p {
    color: white;
    margin: 0;
  }

  Button{
    margin-left: 20px;
    color: white
  }

  Input {
    color: white;
    margin-right: 10px;
    margin-left: 100px;
    border-radius: 100px;
  }

  IconButton {
    border-radius: 100px;
    color: white;
    margin-right: 100px;
  }
}