.profile-display-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.profile-info-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #dbe2e8;
  padding: 5px;
  align-items: flex-start;
  margin-right: 20px;
  width: 40%; // Increase the width
  border-radius: 30px;
  box-shadow: 5px 5px 5px 5px #888888;
}

.profile-picture-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
  display: flex; // Add display property
  justify-content: center; // Center horizontally
  align-items: center; // Center vertically
}

.profile-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-items: center;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 2rem; // Increase text size
  justify-content: center;
  margin-left: 5px;
}

.mytrip-display {
  flex: 8;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 5px 5px 5px 5px #888888;
}

.mytrip-header {
  font-weight: bold;
  font-size: 2rem; // Increase the font size
  margin: 0;
  margin-bottom: 10px;
}
